.PageNotFound{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.PageNotFound > div{
    border-radius: 6px;
    padding: 20px;
}
.PageNotFound h2{
    font-size: 60px;
    margin-bottom: 0;
}
.PageNotFound p{
    font-size: 30px;
    margin-bottom: 20px !important;
}
.PageNotFound .btn_returnToLogin{
    padding: 6px 10px;
    background-color: var(--pink-text-color);
    border-radius: 6px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.PageNotFound .btn_returnToLogin:hover{
    background-color: transparent !important;
    border: 1px solid var(--pink-text-color) !important;
    color: var(--pink-text-color) !important;
}


@media screen and (max-width:768px){
    .PageNotFound p{
        font-size: 30px;
    }
}